{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static './css/style.css' %}">
    
</head>
<body>
    
    <section class="Header-container">
        <div class="header-container">
            <div class="header-section">
                <h3>Supreme</h3>
            </div>
        </div>
    </section>
    <section class="Dash-Con">
        <div class="dash-container">
            <div class="card">
                <img src="https://cdn1.iconfinder.com/data/icons/seo-and-development-hexagon/128/12-512.png" alt="">
            </div>
            <div class="card ovv">
                <h2><span style="color:aliceblue"> Name :</span> {{user.username}}</h2>
                {% for sample in house_objects%}
                    <h3><span style="color:aliceblue">House :</span> {{sample.house_no}} </h3>
                    <h3><span style="color:aliceblue">Block :</span> {{sample.block_no}}</h3>
                {% endfor %}
                <h3><span style="color:aliceblue">Payment Status :</span>
                    {% if status_objects %}
                        Paid
                    {% else %}
                        Not Paid
                    {% endif %}
                </h3>
                <a href=""><button>Make Payment</button></a>
            </div>
        </div>
    </section>
    <section class="Dash-Con">
        <div class="table-container">
            <table>
                <h3 style="text-align:center; margin-bottom:20px;">My Payment history</h3>
                <tr>
                    <th class="dissapear">Date</th>
                    <th>Month</th>
                    <th>Year</th>
                    <th>Amount</th>
                </tr>
                {% for payment in payment_objects %}
                <tr>
                    <td class="dissapear">{{ payment.date}}</td>
                    <td>{{payment.month}}</td>
                    <td>{{payment.year}}</td>
                    <td>{{payment.amount}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </section>
    <section class="log">
        <div class="log-container">
            <button>Log Out</button>
        </div>
    </section>
    <style> 
   
    </style>
</body>

</html>