{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static './css/style.css' %}">
</head>
<body>
    <section class="Header-container">
        <div class="header-container">
            <div class="header-section">
                <h3>Supreme Rental Management</h3>
            </div>
        </div>
    </section>
    <section class="index">
        <div class="index-container">
            <div class="index-sub">
                <h1>Manage Your Rental Aartments Like a Pro with Supreme</h1>
                <h3>Channel Manager, PMS, Booking Engine, Rates Synchronisation, Website, Communications, Guest Guide, Check-in Online, Reviews & more. 5-Star Support.</h3>
                <div class="btn-con">
                    <input type="text">
                    <button>Request Demo</button>
                </div>
            </div>
            <div class="index-sub">
                <img src="{% static './img/bg4.svg' %}" alt="">
            </div>
        </div>
    </section>
    <style> 
        *{
            margin:0;
            padding:0;
            box-sizing: border-box;
            color:#fff;
            max-width:100vw;
        }
        
    </style>
</body>
</html>