{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static './css/style.css' %}">
</head>
<body>
    <section class="Header-container">
        <div class="header-container">
            <div class="header-section" style="margin-left: 20px;">
                <h3>Supreme Rental Management</h3>
            </div>
            <div class="header-section" style="margin-top:-15px">
                <a href="SignIn"><button>Log in</button></a>
            </div>
        </div>
    </section>
    <section class="index">
        <div class="index-container">
            <div class="index-sub">
                <img src="{% static './img/bg4.svg' %}" alt="">
            </div>
            <div class="index-sub">
                <h1>Manage Your Rental Apartments Like a Pro with Supreme</h1><br/>
                <p>Channel Manager, PMS, Booking Engine, Rates Synchronisation, Website, Communications, Guest Guide, Check-in Online, Reviews & more. 5-Star Support.</p>
                <div class="btn-con">
                    <input type="text">
                    <button>Request Demo</button>
                </div>
            </div>
        </div>
    </section>
</body>
</html>