{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static './css/style.css'%}">
</head>
<body>
    <section class="Header-container">
        <div class="header-container">
            <div class="header-section">
                <h3>Payment Analysis</h3>
            </div>
        </div>
    </section>
    <section>
        <canvas id="myChart" style="width:90vw;height:90vh;margin-top:100px;"></canvas>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <script>

    var stars = [230000,200000,160000,220000,180000,190000,210000,150000,160000,200000,150000,160000]
    var frameworks = ['January','February','March','April','May','June','July','August','September','November','December']
    var ctx = document.getElementById('myChart');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: frameworks,
            datasets : [{
                label: 'Monthly Payment total',
                data: stars,
                backgroundColor: "#01030D",
                borderColor: "#fff"

            }]
        },
        options:{
            maintainAspectRatio: false,
            responsive: false
        },
        scales: {
            y: {
                max: 5,
                min: 0,
                ticks: {
                    stepSize: 0.5
                }
            }
        }
    }
    )
    </script>
</body>
</html>