<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static './css/style.css'%}">
</head>
<body>
    <section class="Header-container">
        <div class="header-container">
            <div class="header-section">
                <h3>Supreme Rental Management</h3>
            </div>
        </div>
    </section>
    <section class="Dash-Con">
        <div class="table-container">
            <table>
                <h3 style="text-align:center; margin-bottom:20px;">My Payment history</h3>
                <tr>
                    <th class="dissapear">Date</th>
                    <th>Month</th>
                    <th>Year</th>
                    <th>Amount</th>
                </tr>
                {% for payment in payment_objects %}
                <tr>
                    <td class="dissapear">{{ payment.date}}</td>
                    <td>{{payment.month}}</td>
                    <td>{{payment.year}}</td>
                    <td>{{payment.amount}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </section>
</body>
</html>