{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm Payment</title>
    <link rel="stylesheet" href="{% static './css/style.css'%}">
</head>
<body>
    <section class="Header-container">
        <div class="header-container">
            <div class="header-section">
                <h3>Confirm Rent Payment</h3>
            </div>
        </div>
    </section>
    <section class="form-container">
    
        <div class="form-contain">
            <form method="POST">
                {% csrf_token %}
                <input type="number" name="amount" id="amount" placeholder="Amount" required style="color:#fff;">
                <input type="number" name="date" id="date" placeholder="Date" required>
                <input type="text" name="month" id="month" placeholder="month" required>
                <input type="number" name="year" id="year" placeholder="year" required>
                <input type="number" name="id_no" id="id_no" placeholder="id_no" required>
                <input type="text" name="house_no" id="house_no" placeholder="house_no" required>
                <input type="email" name="email" id="email" placeholder="email" required>
                <input type="submit" class="submit" value="Submit" required>
            </form>
        </div>
    </section>
    <style> 
    </style>
</body>
</html>