*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    color:#fff;
    max-width:100vw;
}
body{
    font-family:sans-serif;
    max-width:100vw;
    overflow-x:hidden;
    background-color: #242529;
}
section{
    width:100vw;
    max-width:100vw;
    overflow-x: hidden;
}
button{
    width:185px;
    height:50px;
    border:1px solid #fff;
    border-radius: 5px;
    text-align: center;
    background: #01030D;
    font-weight:bold;
    margin-bottom:15px;
    cursor:pointer;
    transition: 0.5s linear;
    color:#fff;
}
button:hover{
    background-color:rgb(15, 51, 114);
    color:orange;
    transition: 0.25s linear;
}
/** Header Container 
#3333333333####################################################################################
*/
.header-container{
    width:100%;
    height:70px;
    display:flex;
    background: #01030D;
    position:fixed;
    color:#fff;
}
.header-container .header-section{
    padding-top:25px;
    text-align:center;
    width:20%;
}
@media screen and (max-width:1000px){
    .header-container .header-section{
        width:100%;
    }
    .header-container .header-section h3{
        font-size:1em;
    }
    .header-container .header-section button{
        width:auto;
        padding-left: 20px;
        padding-right: 20px;
    }
}
/** Form Container 
#3333333333####################################################################################
*/
.form-contain{
    width:100%;
    margin-top: 70px;
    padding:50px;
}
.form-contain form{
    width:40%;
    padding:100px;
    border-radius: 10px;
    margin:auto;
    background: #01030D;
}
.form-contain form input{
    width:100%;
    height:50px;
    border:none;
    margin-bottom:25px;
    border-radius:5px;
    padding-left:5px;
    background-color:#242529;
    color:#fff;
}
.form-contain form h2{
    margin-bottom: 20px;
}
.form-contain form .submit{
    width:100px;
    color:#fff;
    font-weight:bold;
    background: #01030D;
    cursor:pointer;
    border: 1px solid #fff;
}
@media screen and (max-width:1000px){
    .form-contain{
        padding:30px;
    }
    .form-contain form{
        padding:20px;
        width:100%;
    }
}
/** Dashboard Styling Container 
#3333333333####################################################################################
*/
.log-container{
    margin-top:10px;
    margin-left:50px;
}
.dash-container{
    display:flex;
    padding:50px;
    width:100%;
    margin-top:70px;
    overflow-y:hidden;
    height:auto;
}
.dash-container .ovv *{
    text-align:left;
    padding-left:50px;
    align-items: left;
}

.dash-container .card{
    width:45%;
    margin-right:5%;
    height:auto;
    text-align:center;
    overflow-y: hidden;
    border:1px solid #fff;
    background: #01030D;
    border-radius:10px;
    padding-top:20px;
}
@media screen and (max-width:1000px){
    .dash-container{

        padding:20px;
        display:block;
    }
    .dash-container .card{
        width:100%;
        margin-bottom:20px;
    }
    .dissapear{
        display:none;
    }
}
.dash-container .card img{
    height:150px;
    width:150px;
}
.dash-container .card *{
    margin-top: 8px;
}
.table-container{
    background: #01030D;
    padding:50px;

}
table{
    width:100%;
}
table th,td{
    border:1px solid #fff;
    text-align:center;
    height:50px;
    border-bottom:none;
}
/** Form Container 
#3333333333####################################################################################
*/
.index-container{
    display:flex;
    width:100%;
    padding:80px;
    margin-top:70px;
}
.index-container .index-sub{
    width:45%;
    height:60vh;
    margin-left:5%;
    padding:40px;
    border-radius:20px;
    background-color:#01030D;
}

.index-container .index-sub img{
    width:100%;
    height:100%;
}
.index-container .index-sub h1{
    font-size:3.5em;
    color:#fff;
}
@media screen and (max-height:800px){
    .index-container .index-sub h1{
        font-size: 2em;
    } 
}
@media screen and (max-width:1000px){
    .index-container{
        display:block;
        padding:30px;
    }
    .index-container .index-sub{
        width:95%;
        height:auto;
        padding:20px;
        margin-bottom:20px;
    }
    .index-container .index-sub h1{
        font-size: 1.5em;
    }
}
.index-container .index-sub h3{
    color: #fff;
    padding-top:50px;
    
}
.btn-con{
    width:100%;
    display:flex;
    margin-top:20px;
}
.btn-con *{
    margin-right:5%;
}
.btn-con input{
    width:60%;
    height:50px;
    background-color: transparent;
    border:1px solid #fff;
    border-radius:10px;
}
.btn-con button{
    width:30%;
    border-radius:10px;
    border:1px solid #fff;
}